[submodule "googletest"]
	path = googletest
	url = git@github.com:google/googletest.git
[submodule "examples/server/third_party/wepoll"]
	path = examples/server/third_party/wepoll
	url = git@github.com:piscisaureus/wepoll.git
