name: Code format check with clang-format 

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        path:
          - 'async_coro'
          - 'tests'
    steps:
    - uses: actions/checkout@v4
    - name: Run clang-format style check for C/C++/Protobuf programs.
      uses: jidicula/clang-format-action@v4.15.0
      with:
        clang-format-version: '20'
        check-path: ${{ matrix.path }}

  dispatch-pr:
    needs: formatting-check
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Trigger gatekeeper for PR approval
        uses: peter-evans/repository-dispatch@v3
        with:
          event-type: check-finished
          client-payload: |
            {
              "sha": "${{ github.sha }}",
              "pr": "${{ github.event.pull_request.number }}"
            }
